* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #FFF;
  color: #737373;
}

ul, ol, li {
  list-style: none;
  display: inline-block;
}

a, a:hover, a:focus {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.common_heading {
  max-width: 582px;
  margin: 0 auto;
}
.common_heading h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 20px;
  text-align: center;
}
.common_heading p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  text-align: center;
  margin-bottom: 30px;
}

button {
  border: none;
}

header {
  background: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}
header .container nav {
  padding: 50px 20px;
}
header .container nav .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container nav .nav_bar .nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
header .container nav .nav_bar .nav_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
header .container nav .nav_bar .nav_item ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  color: #FFF;
}
header .container nav .nav_bar .nav_item button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FFF;
  color: #FF5C00;
}
header #banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header #banner .text {
  width: 50%;
  padding: 150px 0 260px;
}
header #banner .text .text_main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.9em;
  color: #FF5C00;
}
header #banner .text .text_main h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #FFF;
  margin: 20px 0;
}
header #banner .text .text_main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  text-align: start;
  margin-bottom: 30px;
}
header #banner .text button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FF5C00;
  color: #FFF;
}
header #banner .image {
  width: 50%;
  position: relative;
}
header #banner .image img {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 90%;
}

#about {
  background: #FFF;
  padding: 70px 0;
}
#about .container .about_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .container .about_main .image {
  width: 50%;
  z-index: 1;
  position: relative;
}
#about .container .about_main .image::after {
  content: "";
  position: absolute;
  background: #FF5C00;
  width: calc(100% + 20px);
  height: 60%;
  bottom: -10px;
  left: -10px;
  z-index: -1;
}
#about .container .about_main .image img {
  width: 100%;
  margin: 0 auto;
}
#about .container .about_main .text_main {
  width: 50%;
  padding-left: 50px;
}
#about .container .about_main .text_main .common_heading h2 {
  text-align: start;
}
#about .container .about_main .text_main .common_heading p {
  text-align: start;
}
#about .container .about_main .text_main button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FF5C00;
  color: #FFF;
}

#product {
  padding: 70px 0;
}
#product .container .product_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
#product .container .product_main .product {
  max-width: 274px;
  -webkit-box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
  padding: 0 0 35px 0;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  cursor: pointer;
}
#product .container .product_main .product .text {
  text-align: center;
}
#product .container .product_main .product .text h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #454545;
  margin-top: 20px;
}
#product .container .product_main .product .text h3 a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 10px 0;
}
#product .container .product_main .product .text p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #454545;
}
#product .container .product_main .product:hover {
  background: #FFF7F2;
}

#professional {
  padding: 70px 0;
}
#professional .container .profational_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#professional .container .profational_main .text {
  width: 50%;
}
#professional .container .profational_main .text .common_heading {
  margin: 0;
}
#professional .container .profational_main .text .common_heading h2 {
  text-align: start;
}
#professional .container .profational_main .text .common_heading p {
  text-align: start;
}
#professional .container .profational_main .text button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FF5C00;
  color: #FFF;
}
#professional .container .profational_main .image {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#professional .container .profational_main .image img {
  width: 75%;
}

#top_catagori {
  padding: 70px 0;
  padding: 70px 0;
}
#top_catagori .container .product_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
#top_catagori .container .product_main .product {
  max-width: 275px;
  padding: 0 0 35px 0;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  cursor: pointer;
}
#top_catagori .container .product_main .product .image {
  width: 275px;
  height: 275px;
  background: #ECEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#top_catagori .container .product_main .product .image a img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#top_catagori .container .product_main .product .text {
  text-align: center;
  -webkit-box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
}
#top_catagori .container .product_main .product .text h3 a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 10px 0;
}
#top_catagori .container .product_main .product .text p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #454545;
}
#top_catagori .container .product_main .product .text span {
  margin-top: 10px;
  display: inline-block;
}
#top_catagori .container .product_main .product .text span i, #top_catagori .container .product_main .product .text span svg {
  color: #FFA800;
}
#top_catagori .container .product_main .product:hover {
  background: #FFF7F2;
}

#testimonial {
  margin: 70px 0;
  position: relative;
}
#testimonial .container .test_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
#testimonial .container .test_main .test_item {
  margin: 10px 15px;
  padding: 20px 0;
}
#testimonial .container .test_main .test_item .image {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#testimonial .container .test_main .test_item .image a img {
  width: 100%;
}
#testimonial .container .test_main .test_item .text {
  text-align: center;
}
#testimonial .container .test_main .test_item .text h3 a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 10px 0;
}
#testimonial .container .test_main .test_item .text span i, #testimonial .container .test_main .test_item .text span svg {
  color: #FFA800;
}
#testimonial .container .test_main .test_item .text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  text-align: center;
  margin-bottom: 30px;
  margin: 0;
}
#testimonial .slick-dots {
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#testimonial .slick-dots button {
  width: 10px;
  height: 10px;
  border: 1px solid #FFA800;
  font-size: 0;
  border-radius: 50%;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#testimonial .slick-dots .slick-active button {
  border: 1px solid #FFA800;
  background: #FFA800;
}

#perfect {
  background: #FFF;
  padding: 70px 0;
}
#perfect .container {
  padding: 0 50px;
}
#perfect .container .perfect_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
  padding: 50px;
}
#perfect .container .perfect_main .image {
  width: 340px;
  z-index: 1;
  position: relative;
}
#perfect .container .perfect_main .image::after {
  content: "";
  position: absolute;
  background: #FF5C00;
  width: calc(100% + 20px);
  height: 60%;
  bottom: -10px;
  left: -10px;
  z-index: -1;
}
#perfect .container .perfect_main .image img {
  width: 100%;
}
#perfect .container .perfect_main .text_main {
  width: 540px;
}
#perfect .container .perfect_main .text_main .common_heading h2 {
  text-align: start;
  color: #FFF;
  padding-right: 100px;
}
#perfect .container .perfect_main .text_main .common_heading p {
  text-align: start;
  color: #FFF;
}
#perfect .container .perfect_main .text_main button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FF5C00;
  color: #FFF;
}

#blog {
  margin: 70px 0 50px;
}
#blog .container .blog_main .blog_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#blog .container .blog_main .blog_items .blog_main {
  width: 375px;
  margin-bottom: 20PX;
}
#blog .container .blog_main .blog_items .blog_main .text {
  text-align: center;
}
#blog .container .blog_main .blog_items .blog_main .text h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #454545;
  margin-top: 20px;
  font-size: 16px;
}
#blog .container .blog_main .blog_items .blog_main .text h3 a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 10px 0;
}
#blog .container .blog_main .blog_items .blog_main .text div a {
  color: #737373;
  position: relative;
}
#blog .container .blog_main .blog_items .blog_main .text div a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 3px;
  width: 80%;
  background: #454545;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

footer {
  background: #131313;
}
footer .container .footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 10px 0 0;
}
footer .container .footer_main .f_icon .image {
  width: 60%;
}
footer .container .footer_main .f_icon .image img {
  margin-bottom: 30px;
}
footer .container .footer_main .f_icon .text p {
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
footer .container .footer_main .f_icon .text .contect ul li {
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .container .footer_main .f_icon .text .contect ul li a {
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
footer .container .footer_main .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .container .footer_main .info ul li a {
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}
footer .container .footer_main .info ul li a h5 {
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */