* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #FFF;
  color: #737373;
}

ul, ol, li {
  list-style: none;
  display: inline-block;
}

a, a:hover, a:focus {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #FFF;
  color: #737373;
}

ul, ol, li {
  list-style: none;
  display: inline-block;
}

a, a:hover, a:focus {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

header {
  background: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .container nav {
  padding: 50px 20px;
}
header .container nav .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container nav .nav_bar .nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
header .container nav .nav_bar .nav_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
header .container nav .nav_bar .nav_item ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  color: #FFF;
}
header .container nav .nav_bar .nav_item button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FFF;
  color: #FF5C00;
}
header #banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header #banner .text {
  width: 50%;
  padding: 150px 0 260px;
}
header #banner .text .text_main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.9em;
  color: #FF5C00;
}
header #banner .text .text_main h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #FFF;
  margin: 20px 0;
}
header #banner .text .text_main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  text-align: start;
  margin-bottom: 30px;
}
header #banner .text button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FF5C00;
  color: #FFF;
}
header #banner .image {
  width: 50%;
  position: relative;
}
header #banner .image img {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 90%;
}

#about {
  background: #FFF;
  padding: 140px 0;
}
#about .container .about_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .container .about_main .image {
  width: 50%;
  z-index: 1;
  position: relative;
}
#about .container .about_main .image::after {
  content: "";
  position: absolute;
  background: #FF5C00;
  width: calc(100% + 20px);
  height: 60%;
  bottom: -10px;
  left: -10px;
  z-index: -1;
}
#about .container .about_main .image img {
  width: 100%;
  margin: 0 auto;
}
#about .container .about_main .text_main {
  width: 50%;
  padding-left: 50px;
}
#about .container .about_main .text_main .text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 20px;
}
#about .container .about_main .text_main .text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  text-align: start;
  margin-bottom: 30px;
  padding-right: 50px;
}
#about .container .about_main .text_main button a {
  padding: 18px 32px;
  border: 2px solid #000000;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  background: #FF5C00;
  color: #FFF;
}/*# sourceMappingURL=style.css.map */