@mixin common_btn($bg, $color){
    padding: 18px 32px;
    border: 2px solid $Heading_color;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    background: $bg;
    color: $color;
};

@mixin comomon_hedding($align){
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: $Heading_color;
    margin: 0 0 20px;
    text-align: $align;
};

@mixin paragraph($align){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $Text_color;
    text-align: $align;
    margin-bottom: 30px;
}

@mixin Headding_03{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $Heading_color;
    margin: 10px 0;
}
@mixin Headding_05{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $h5;
    margin-top: 20px;
}
@mixin pricing{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $h5;
}