
@import "../variable/variable";
@import "../mixin/mixin";

#banner{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-bottom: 70px;
    // justify-content: space-between;
    // align-items: center;
    .container{
        .banner_main{
            display: flex;
            .text{
                width: 50%;
                padding: 150px 0 260px;
               .text_main{
                h3{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.9em;
                    color: $Primary_color;
                }
                h1{
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 90px;
                    color: $White_color;
                    margin: 20px 0;
                }
                p{
                    @include paragraph(start);
                }
               }
               button{ 
                a{
                    @include common_btn( $Primary_color , $White_color);
                }
               }
            }
            .image{
                width: 50%;
                transform: translateY(50px);
                -webkit-transform: translateY(50px);
                -moz-transform: translateY(50px);
                -ms-transform: translateY(50px);
                -o-transform: translateY(50px);
                // background: red;
                padding-left: 70px;
                img{
                    width: 200%;
                }
            }
        }
    }
}