@import "../variable/variable";
@import "../mixin/mixin";

footer{
    background: $Footer_color;
    .container{
        .footer_main{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 10px 0 0;
        .f_icon{
            .image{
                width: 60%;
                img{
                    margin-bottom: 30px;
                }
            }
            .text{
                p{
                    font-family: $ff;
                    color: $White_color;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 20px;
                }
                .contect{
                    ul{
                        li{  
                            font-family: $ff;
                            color: $White_color;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            margin-bottom: 10px;
                            display: flex;
                            a{
                                font-family: $ff;
                                color: $White_color;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
        .info{
            ul{
                li{
                    
                    display: flex;
                    a{
                        font-family: $ff;
                        color: $White_color;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 15px;
                        h5{
                            font-family: $ff;
                            color: $White_color;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            margin-bottom: 50px; 
                        }
                    }
                }
            }
        }
        .help{}
        .subscribe{}
        }
    }
}