@import "../variable/variable";
@import "../mixin/mixin";

footer {
    background: $Footer_color;
    padding: 100px 0 0px;
    .container {
        .footer_main {
            display: flex;
            justify-content: space-between;
            .f_icon {
                width: 450px;
                .image {
                    width: 60%;
                    img {
                        margin-bottom: 30px;
                    }
                }
                .text {
                    p {
                        font-family: $ff;
                        color: $White_color;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 20px;
                        padding-right: 70px;
                    }
                    .contect {
                        ul {
                            li {
                                font-family: $ff;
                                color: $White_color;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                margin-bottom: 10px;
                                display: flex;
                                }
                                a {
                                    font-family: $ff;
                                    color: $White_color;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .info {
                width: 300px;
                ul {
                    li {

                        display: flex;
                        a {
                            font-family: $ff;
                            color: $White_color;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            margin-bottom: 15px;
                            h5 {
                                font-family: $ff;
                                color: $White_color;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
            }
            .help {
                width: 300px;
                ul {
                    li {

                        display: flex;
                        a {
                            font-family: $ff;
                            color: $White_color;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            margin-bottom: 15px;
                            h5 {
                                font-family: $ff;
                                color: $White_color;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
            }
            .subscribe {
                width: 300px;
                ul {
                    li {

                        display: flex;
                        a {
                            h5 {
                                font-family: $ff;
                                color: $White_color;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
                p {
                    font-family: $ff;
                    color: $White_color;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 20px;
                }
                form {
                    margin-bottom: 40px;
                    input {
                        padding: 15px 20px;
                        width: 100%;
                        &::placeholder {
                            color: $Primary_color;
                            font-size: 15px;
                        }
                    }
                }
                .socila_icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    a {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        i,
                        svg {
                            font-size: 30px;
                        }
                        &:nth-child(1) {
                            background: blue;
                            color: $White_color;
                        }
                        &:nth-child(2) {
                            background: rgb(5, 181, 194);
                            color: $White_color;
                        }
                        &:nth-child(3) {
                            color: $White_color;
                            background: linear-gradient(to top left ,#405DE6,#5B51D8,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040, #F77737,#FCAF45,#FFDC80);
                        }
                        &:nth-child(4) {
                            color: $White_color;
                        }
                    }
                }
            }
        }

    .f_copy{
        background: $Primary_color;
        width: 100%;
        margin-top: 80px;
        padding: 10px 0;
        .container{
            .f_icon_main{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .text{
                    p{
                        @include paragraph (start);
                        margin: 0;
                        color: $White_color;
                    }
                }
                .icon{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 30px;
                    .image{
                        width: 65px;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        .img{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}
