@import "../variable/variable";
@import "../mixin/mixin";

header{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        nav{
            padding: 50px 20px;
            // background: yellow;
            .nav_bar{
                display: flex;
                gap: 100px;
                justify-content: space-between;
                align-items: center;
                .logo{
                }
                .nav_item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 100px;
                    ul{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 60px;
                        li{
                            a{
                                font-family: $ff;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 100%;
                                text-align: left;
                                vertical-align: top;
                                color: $White_color;
                            }
                        }
                    }
                    button{
                        a{
                            @include common_btn($White_color , $Primary_color)
                        }
                    }
                }
            }
        }
    }
    #banner{
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        .text{
            width: 50%;
            padding: 150px 0 260px;
           .text_main{
            h3{
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.9em;
                color: $Primary_color;
            }
            h1{
                font-weight: 700;
                font-size: 70px;
                line-height: 90px;
                color: $White_color;
                margin: 20px 0;
            }
            p{
                @include paragraph(start);
            }
           }
           button{ 
            a{
                @include common_btn( $Primary_color , $White_color)
            }
           }
        }
        .image{
            width: 50%;
            position: relative;
            // background: pink;
            img{
                position: absolute;
                top: 5px;
                right: 0px;
                width: 90%;
            }
        }
    }
}