@import "../variable/variable";
@import "../mixin/mixin";


nav{
    // background: red;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    .container{
        padding: 50px 20px;
    .nav_bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        .logo{
        }
        .nav_item{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                li{
                    a{
                        font-family: $ff;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 100%;
                        text-align: left;
                        vertical-align: top;
                        color: $White_color;
                    }
                }
            }
            button{
                a{
                    @include common_btn($White_color , $Primary_color)
                }
            }
        }
        .bars{
            display: none;
            cursor: pointer;
            i{
                color: $White_color;
                font-size: 35px;
            }
        }
    }
   }
}