@import "../variable/variable";
@import "../mixin/mixin";

#testimonial{
    margin: 70px 0;
    position: relative;
   .container{
        .test_main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            // background: red;
            .test_item{
                width: 280px;
                margin: 10px 15px;
                // background: yellow;
                padding: 20px 0;
                .image{
                    height: 86px;
                    width: 86px;
                    border-radius: 50%;
                    margin: 0 auto;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                .text{
                    text-align: center;
                    h3{
                        
                        a{@include Headding_03;}
                    }
                    span{
                        i,svg{
                            color: $golden;
                        }
                    }
                    p{
                        @include paragraph(center);
                        margin: 0;
                    }
                }
            }
        }
   }
   .slick-dots{
    display: flex;
    margin:  0 auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    }
   .slick-dots button{
    width: 10px;
    height: 10px;
    border: 1px solid $golden;
    font-size: 0;
    border-radius: 50%;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    }
   .slick-dots .slick-active button{
    border: 1px solid $golden;
    background: $golden;
    } 
}