@import "../variable/variable";
@import "../mixin/mixin";

#testimonial{
   .container{
        .product_main{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            // background: red;
            .product{
                .image{
                    display: flex;
                    justify-content: center;
                    background: pink;
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                .text{
                    text-align: center;
                    h3{
                        a{}
                    }
                    span{
                        i,svg{}
                    }
                    p{

                    }
                }
            }
        }
   } 
}