@import '../variable/variable';
@import "../mixin/mixin";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: $ff;
    font-size: 20px;
    color: $White_color;
    color: $Text_color;
    overflow-x:hidden ;
}
ul,ol, li{
    list-style: none;
    display: inline-block;
}
a, a:hover, a:focus{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}
.container{
    width: 1170px;
    margin: 0 auto;
    // background: red;
}

.common_heading{
    max-width: 582px;
    margin: 0 auto;
    // background: pink;
    h2{
        @include comomon_hedding(center);
    }
    p{
        @include paragraph(center);
    }
}

button{
    border: none;
}